/Projetos/SystemManagerStoreDesktop/SistemManagerStoreDesktop/nbproject/private/
/Projetos/SystemManagerStoreDesktop/SistemManagerStoreDesktop/build/
/Projetos/SystemManagerStoreDesktop/SistemManagerStoreDesktop/dist/
/Projetos/SystemManagerStoreWeb/SystemManagerStoreWeb/nbproject/private/
/Projetos/SystemManagerStoreWeb/SystemManagerStoreWeb/build/
/Projetos/SystemManagerStoreWeb/SystemManagerStoreWeb/dist/