/Projetos/SystemManagerStoreDesktop/SistemManagerStoreDesktop/nbproject/private/
/Projetos/SystemManagerStoreDesktop/SistemManagerStoreDesktop/build/
/Projetos/SystemManagerStoreDesktop/SistemManagerStoreDesktop/dist/